<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Creativia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-light.css">
    <link rel="stylesheet" href="css/theme-light.css">
    <script src="js/vendor/wow.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" class="portfolio-theme">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">home</a>
                    </li>
                    <li><a href="#about">about me</a>
                    </li>
                    <li><a href="#portfolio">works</a>
                    </li>
                    <li><a href="#services">services</a>
                    </li>
                    <li><a href="#testimonials">testimonials</a>
                    </li>
                    <li><a href="#clients">clients</a>
                    </li>
                    <li><a href="#news">posts</a>
                    </li>
                    <li><a href="#contact">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home section image-slider" id="home">
        <div class="home-slider text-center">
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center" style="background: url(img/slider/slide-portfolio-1.jpg);">
                    <div class="col-md-12">
                        <a class="navbar-brand" href="#"><img src="img/logo-white.png" alt="logo">
                        </a>
                    </div>
                    <h2 class="home-slider-title-main">Hi! my name is Martin</h2>
                    <div class="home-slider-title-small">Excepteur sint occaecat cupidatat non proident
                    </div>

                    <div class="home-buttons text-center">
                        <a href="#about" class="btn btn-margin btn-lg  btn-primary">estimate project</a>
                        <a href="#about" class="btn btn-margin btn-lg  btn-success">about us</a>
                    </div>
                </div>

                <div class="swiper-slide text-center" style="background: url(img/slider/slide-portfolio-1.jpg);">
                    <div class="col-md-12">
                        <a class="navbar-brand" href="#"><img src="img/logo-white.png" alt="logo">
                        </a>
                    </div>
                    <h2 class="home-slider-title-main">Hi! my name is Martin</h2>
                    <div class="home-slider-title-small">Excepteur sint occaecat cupidatat non proident
                    </div>

                    <div class="home-buttons text-center">
                        <a href="#about" class="btn btn-margin btn-lg  btn-primary">estimate project</a>
                        <a href="#about" class="btn btn-margin btn-lg  btn-success">about us</a>
                    </div>

                </div>
            </div>

            <div class="home-pagination"></div>
            <div class="home-slider-next right-arrow-negative">
                <span class="ti-arrow-right"></span>
            </div>

            <div class="home-slider-prev left-arrow-negative">
                <span class="ti-arrow-left"></span>
            </div>
        </div>
    </section>

    <section class="about section" id="about">
        <div class="col-md-12 about-introduction">
            <h2 class="text-center">about me</h2>
            <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>

        <div class="container overflow-hidden">
            <div class="row">
                <div class="about-row">
                    <div class="col-md-6 about-grid">
                        <div class="about-image">
                            <img src="img/about1.jpg" alt="about me photo">
                        </div>
                    </div>

                    <div class="col-md-6 about-grid">
                        <div class="about-text-box">
                            <h3 class="wow fadeInRight">Ssed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                            <p class="wow fadeInRight" data-wow-delay=".4s">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            </p>

                            <p class="wow fadeInRight" data-wow-delay=".4s">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="about-row">
                    <div class="col-md-5 col-md-push-1  about-grid">
                        <div class="about-text-box">
                            <h3 class="wow fadeInRight">Ssed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>

                            <p class="wow fadeInRight" data-wow-delay=".4s">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-5 col-md-push-1 about-grid">
                        <div class="about-image">
                            <img src="img/about4.jpg" alt="about me photo">
                        </div>
                    </div>
                </div>

                <div class="about-row">
                    <div class="col-md-4 col-md-push-2 about-grid">
                        <div class="about-image">
                            <img src="img/about3.jpg" alt="about me photo">
                        </div>
                    </div>

                    <div class="col-md-5 col-md-push-2 about-grid">
                        <div class="about-text-box">
                            <h3 class="wow fadeInRight">Ssed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>

                            <p class="wow fadeInRight" data-wow-delay=".4s">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="about-row">
                    <div class="col-md-4 col-md-push-2 about-grid">
                        <div class="about-text-box">
                            <h3 class="wow fadeInRight">Ssed do eiusmod tempor.</h3>

                            <p class="wow fadeInRight" data-wow-delay=".4s">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.

                        </div>
                    </div>

                    <div class="col-md-3 col-md-push-2 about-grid">
                        <div class="about-image">
                            <img src="img/about2.jpg" alt="about me photo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="portfolio section">
        <div class="col-md-12 portfolio-introduction">
            <h2 class="text-center">my works</h2>
            <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="container">
            <div class="row">
                <ul class="simplefilter portfolio-filter-label">
                    <li class="active wow fadeInDown" data-wow-delay=".2s" data-filter="all">All</li>
                    <li class="wow fadeInDown" data-wow-delay=".3s" data-filter="1">option filter 1</li>
                    <li class="wow fadeInDown" data-wow-delay=".4s" data-filter="2">option filter 2</li>
                    <li class="wow fadeInDown" data-wow-delay=".5s" data-filter="3">option filter 3</li>
                    <li class="wow fadeInDown" data-wow-delay=".6s" data-filter="4">option filter 4</li>
                    <li class="wow fadeInDown" data-wow-delay=".7s" data-filter="5">option filter 5</li>
                </ul>
                <div class="filtr-container">
                    <ul class="portfolio-list">
                        <li class="filtr-item" data-category="1, 3">
                            <a href="" class="portfolio-thumbnail" style="background-image: url('img/portfolio/project1.jpg')" data-toggle="modal" data-target="#portfolio-01">
                                <span class="portfolio-description text-center">  
                                <span class="text-center portfolio-title">Web development</span>
                                <span>Get the latest technologies</span>
                                <span class="btn btn-margin btn-default">show more</span>
                                </span>
                            </a>
                        </li>

                        <li class="filtr-item" data-category="4 , 2">
                            <a href="" class="portfolio-thumbnail" style="background-image: url('img/portfolio/project2.jpg')" data-toggle="modal" data-target="#portfolio-01">
                                <span class="portfolio-description text-center">  
                                <span class="text-center portfolio-title">Web development</span>
                                <span>Get the latest technologies</span>
                                <span class="btn btn-margin btn-default">show more</span>
                                </span>
                            </a>
                        </li>

                        <li class="filtr-item" data-category="2 , 5">
                            <a href="" class="portfolio-thumbnail" style="background-image: url('img/portfolio/project3.jpg')" data-toggle="modal" data-target="#portfolio-01">
                                <span class="portfolio-description text-center">  
                                <span class="text-center portfolio-title">Web development</span>
                                <span>Get the latest technologies</span>
                                <span class="btn btn-margin btn-default">show more</span>
                                </span>
                            </a>
                        </li>

                        <li class="filtr-item" data-category="1 , 5">
                            <a href="" class="portfolio-thumbnail" style="background-image: url('img/portfolio/project4.jpg')" data-toggle="modal" data-target="#portfolio-01">
                                <span class="portfolio-description text-center">  
                                <span class="text-center portfolio-title">Web development</span>
                                <span>Get the latest technologies</span>
                                <span class="btn btn-margin btn-default">show more</span>
                                </span>
                            </a>
                        </li>

                        <li class="filtr-item" data-category="4 , 3">
                            <a href="" class="portfolio-thumbnail" style="background-image: url('img/portfolio/project5.jpg')" data-toggle="modal" data-target="#portfolio-01">
                                <span class="portfolio-description text-center">  
                                <span class="text-center portfolio-title">Web development</span>
                                <span>Get the latest technologies</span>
                                <span class="btn btn-margin btn-default">show more</span>
                                </span>
                            </a>
                        </li>

                        <li class="filtr-item" data-category="3 , 5">
                            <a href="" class="portfolio-thumbnail" style="background-image: url('img/portfolio/project6.jpg')" data-toggle="modal" data-target="#portfolio-01">
                                <span class="portfolio-description text-center">  
                                <span class="text-center portfolio-title">Web development</span>
                                <span>Get the latest technologies</span>
                                <span class="btn btn-margin btn-default">show more</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- PORTFOLIO MODAL -->
                <div id="portfolio-01" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content shadow">
                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                            <div class="modal-body modal-lg">
                                <div class="post-entry post-entry-modal">
                                    <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                                    <span class="post-entry-meta">
                                    <img src="img/user.png" class="post-entry-author pull-left" alt="user avatar">
                                    <span class="post-entry-author-name pull-left">Alex Example</span>
                                    <span class="post-entry-time pull-right">6 min read
                                    <span class="post-entry-category">web design</span></span>
                                    </span>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel slide portfolio-slide" id="portfolio-carousel">
                                        <div class="carousel-inner cont-slider">
                                            <div class="item active">
                                                <img alt="" title="" src="img/portfolio/project1.jpg">
                                            </div>

                                            <div class="item">
                                                <img alt="" title="" src="img/portfolio/project2.jpg">
                                            </div>

                                            <div class="item">
                                                <img alt="" title="" src="img/portfolio/project3.jpg">
                                            </div>

                                            <div class="item">
                                                <img alt="" title="" src="img/portfolio/project4.jpg">
                                            </div>
                                        </div>
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li class="active" data-slide-to="0" data-target="#portfolio-carousel">
                                                <img alt="" src="img/portfolio/project1.jpg">
                                            </li>
                                            <li class="" data-slide-to="1" data-target="#portfolio-carousel">
                                                <img alt="" src="img/portfolio/project2.jpg">
                                            </li>
                                            <li class="" data-slide-to="2" data-target="#portfolio-carousel">
                                                <img alt="" src="img/portfolio/project3.jpg">
                                            </li>
                                            <li class="" data-slide-to="3" data-target="#portfolio-carousel">
                                                <img alt="" src="img/portfolio/project4.jpg">
                                            </li>
                                        </ol>
                                    </div>
                                    <!-- Wrapper for slides -->
                                    <p>Our recruitment process is simple and has no secrets. We’ve written at length about tips & tricks on how to join netguru and how pair programming helps us choose the best talent.
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / PORTFOLIO MODAL -->
            </div>
        </div>
    </section>

    <section class="text-center shadow section section-min">
        <div id="about-counter" class="about-counter">
            
            <div class="container">
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                        <div class="counter">
                            <span class="ti-crown icon"></span>
                            <h2 class="timer"> 250</h2>
                            <p>Projects Finished</p>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                        <div class="counter">
                            <span class="ti-shortcode icon"></span>
                            <h2 class="timer">28256 </h2>
                            <p>Line Of Coding</p>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                        <div class="counter">
                            <span class="ti-cup icon"></span>
                            <h2 class="timer"> 42</h2>
                            <p>Award Won</p>
                        </div>
                    </div>
                    <div class="col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
                        <div class="counter">
                            <span class="ti-comments-smiley icon"></span>
                            <h2 class="timer">240</h2>
                            <p>Satisfied Clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 services-introduction">
                    <h2 class="text-center">My services</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>

                <div class="col-md-3 wow fadeInLeft">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-video-clapper"></span>
                        <h4>storyboards</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-3 wow fadeInDown">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-video-camera"></span>
                        <h4>Movies</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-3 wow fadeInRight">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-eraser"></span>
                        <h4>Post production</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-3 wow fadeInLeft">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-music-alt"></span>
                        <h4>Music</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <!-- / SERVICE MODAL -->
                <div id="service-01" class="modal fade services-modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content shadow">
                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                            <div class="modal-body">
                                <div class="post-entry post-entry-modal">

                                    <div class="services-box text-center">
                                        <span class="icon ti-music-alt"></span>
                                        <h4>Music</h4>
                                        <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                                        </p>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="contact-data">
                                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum?</p>
                                        <ul>
                                            <li><span class="ti-mobile icon"></span>+ 49 123 456 789</li>
                                            <li><span class="ti-email icon"></span>mail@examle.com</li>
                                            <li><span class="ti-skype icon"></span>@creativa</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / SERVICE MODAL -->
            </div>
        </div>
    </section>

    <section id="testimonials" class="testimonials section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 testimonials-introduction">
                    <h2 class="text-center">What my Clients Say</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>

                <div class="testimonials-slider text-center">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img class="wow fadeInUp" src="img/user.png" alt="user avatar">
                                <h3 class="wow fadeInUp" data-wow-delay=".4s">Martin Johe, Co-Founder / CEO
                            <span>Fastcompany ltd.</span>
                            </h3>
                                <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img src="img/user.png" alt="user avatar">
                                <h3>Martin Johe, Co-Founder / CEO
                            <span>Fastcompany ltd.</span>
                            </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonials-container shadow">
                                <img src="img/user.png" alt="user avatar">
                                <h3>Martin Johe, Co-Founder / CEO
                            <span>Fastcompany ltd.</span>
                            </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-pagination"></div>
                    <div class="testimonials-slider-next right-arrow-negative">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="testimonials-slider-prev left-arrow-negative">
                        <span class="ti-arrow-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clients section" id="clients">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12 clients-introduction">
                    <h2 class="text-center">My clients</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>

                <div class="clients-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".1s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".2s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".3s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".4s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".5s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".6s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".7s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow wow bounceIn" data-wow-delay=".8s"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow"><img src="img/brand.png" alt="brand logo" />
                        </div>
                        <div class="swiper-slide shadow"><img src="img/brand.png" alt="brand logo" />
                        </div>
                    </div>
                    <div class="clients-pagination text-center"></div>
                    <div class="clients-slider-next right-arrow-negative">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="clients-slider-prev left-arrow-negative">
                        <span class="ti-arrow-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="post-list section" id="news">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12 post-list-introduction">
                    <h2 class="text-center">posts</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>

                <div class="post-slider-portfolio">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="post-entry wow fadeInUp">
                                <a href="#" data-toggle="modal" data-target="#post-01">
                                    <span class="post-entry-cover" style="background-image:url(img/portfolio/project1.jpg); ">
                                    </span>
                                </a>
                                <a class="h3" href="#" data-toggle="modal" data-target="#post-01">Estibulum ante ipsum primis lobortis<br>in faucibus orci.</a>


                                <p>Pellentesque quis hendrerit nulla. In sed nulla cursus, viverra ipsum sit amet, facilisis turpis. Aliquam placerat quam quis nulla congue posuere. Fusce quis ullamcorper urna. Integer porttitor urna ac lobortis commodo. Vestibulum dignissim, lorem lobortis blandit consectetur, lacus diam condimentum magna, sit amet porttitor nisi orci vitae magna. Donec bibendum ante odio, at consequat nibh commodo non.
                                </p>
                                <a href="#" data-toggle="modal" data-target="#post-01" class="post-entry-more">read more</a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="post-entry wow fadeInUp">
                                <a href="#" data-toggle="modal" data-target="#post-01">
                                    <span class="post-entry-cover" style="background-image:url(img/portfolio/project5.jpg); ">
                                    </span>
                                </a>
                                <a class="h3" href="#" data-toggle="modal" data-target="#post-01">Estibulum ante ipsum primis lobortis<br>in faucibus orci.</a>


                                <p>Pellentesque quis hendrerit nulla. In sed nulla cursus, viverra ipsum sit amet, facilisis turpis. Aliquam placerat quam quis nulla congue posuere. Fusce quis ullamcorper urna. Integer porttitor urna ac lobortis commodo. Vestibulum dignissim, lorem lobortis blandit consectetur, lacus diam condimentum magna, sit amet porttitor nisi orci vitae magna. Donec bibendum ante odio, at consequat nibh commodo non.
                                </p>
                                <a href="#" data-toggle="modal" data-target="#post-01" class="post-entry-more">read more</a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="post-entry wow fadeInUp">
                                <a href="#" data-toggle="modal" data-target="#post-01">
                                    <span class="post-entry-cover" style="background-image:url(img/portfolio/project3.jpg); ">
                                    </span>
                                </a>
                                <a class="h3" href="#" data-toggle="modal" data-target="#post-01">Estibulum ante ipsum primis lobortis<br>in faucibus orci.</a>

                                <p>Pellentesque quis hendrerit nulla. In sed nulla cursus, viverra ipsum sit amet, facilisis turpis. Aliquam placerat quam quis nulla congue posuere. Fusce quis ullamcorper urna. Integer porttitor urna ac lobortis commodo. Vestibulum dignissim, lorem lobortis blandit consectetur, lacus diam condimentum magna, sit amet porttitor nisi orci vitae magna. Donec bibendum ante odio, at consequat nibh commodo non.
                                </p>
                                <a href="#" data-toggle="modal" data-target="#post-01" class="post-entry-more">read more</a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="post-entry">
                                <a href="#" data-toggle="modal" data-target="#post-01">
                                    <span class="post-entry-cover" style="background-image:url(img/portfolio/project4.jpg); ">
                                    </span>
                                </a>
                                <a class="h3" href="#" data-toggle="modal" data-target="#post-01">Estibulum ante ipsum primis lobortis<br>in faucibus orci.</a>

                                <p>Pellentesque quis hendrerit nulla. In sed nulla cursus, viverra ipsum sit amet, facilisis turpis. Aliquam placerat quam quis nulla congue posuere. Fusce quis ullamcorper urna. Integer porttitor urna ac lobortis commodo. Vestibulum dignissim, lorem lobortis blandit consectetur, lacus diam condimentum magna, sit amet porttitor nisi orci vitae magna. Donec bibendum ante odio, at consequat nibh commodo non.
                                </p>
                                <a href="#" data-toggle="modal" data-target="#post-01" class="post-entry-more">read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="post-portfolio-pagination text-center"></div>
                    <div class="post-portfolio-slider-next right-arrow-negative">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="post-portfolio-slider-prev left-arrow-negative">
                        <span class="ti-arrow-left"></span>
                    </div>
                </div>
                <!-- / BLOG MODAL -->
                <div id="post-01" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content shadow">
                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                            <div class="modal-body">
                                <div class="post-entry post-entry-modal">
                                    <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                                    <span class="post-entry-meta">
                                    <img src="img/user.png" class="post-entry-author pull-left" alt="user avatar">
                                    <span class="post-entry-author-name pull-left">Alex Example</span>
                                    <span class="post-entry-time pull-right">6 min read
                                    <span class="post-entry-category">web design</span></span>
                                    </span>
                                    <span class="post-entry-cover" style="background-image:url(img/portfolio/project1.jpg); ">
                                </span>


                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / BLOG MODAL -->
            </div>
        </div>
    </section>


    <div class="section section-min">
        <div class="social">
            <ul>
                <li><a href="http://facebook.com/" target="_blank"><span class="ti-facebook"></span></a>
                </li>
                <li><a href="https://twitter.com/" target="_blank"><span class="ti-twitter-alt"></span></a>
                </li>
                <li><a href="http://linkedin.com/" target="_blank"><span class="ti-linkedin"></span></a>
                </li>
                <li><a href="https://vimeo.com/" target="_blank"><span class="ti-vimeo-alt"></span></a>
                </li>
                <li><a href="http://youtube.com/" target="_blank"><span class="ti-youtube"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <section id="contact" class="contact contact-with-map section">
        <div class="container">
            <div class="row">

                <div class="col-md-12 contact-introduction">
                    <h2 class="text-center">Contact</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consecteturadipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>

                <div class="col-md-8 col-md-push-2">
                    <div class="contact-data">
                        <ul>
                            <li><span class="ti-mobile icon"></span>+ 49 123 456 789</li>
                            <li><span class="ti-email icon"></span>mail@examle.com</li>
                            <li><span class="ti-skype icon"></span>@creativa</li>
                        </ul>
                    </div>

                    <div class="contact-form">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                            </div>

                            <button type="button" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">Submit your message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="google-maps">
            <div id="map-canvas"></div>
        </div>
    </section>

    <div class="section section-min">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img class="footer-logo" src="img/logo.png" alt="footer-logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script src="js/vendor/swiper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.countTo.js"></script>
<script src="js/vendor/jquery.inview.js"></script>
<script src="js/vendor/jquery.filterizr.js"></script>
<script src="js/vendor/controls.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
// Portfolio filters  
$(function() {
    //Initialize filterizr with default options
    $('.filtr-container').filterizr();
});
</script>
</body>

</html>