{% extends "base.html" %}

{% block title %}
    Serviços | {{ block.super }}
{% endblock %}

{% load static %}
{% block container %}

    <section id="services" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 services-introduction">
                    <h2 class="text-center">Our services</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>

                <div class="col-md-4 wow fadeInLeft">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-video-clapper"></span>
                        <h4>storyboards</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInDown">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-video-camera"></span>
                        <h4>Movies</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-eraser"></span>
                        <h4>Post production</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-music-alt"></span>
                        <h4>Music</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-gallery"></span>
                        <h4>Photography</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight">
                    <div class="services-box text-center shadow">
                        <span class="icon ti-support"></span>
                        <h4>Technical support</h4>
                        <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>
                        <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                    </div>
                </div>

                <!-- / SERVICE MODAL -->
                <div id="service-01" class="modal fade services-modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content shadow">
                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                            <div class="modal-body">
                                <div class="post-entry post-entry-modal">

                                    <div class="services-box text-center">
                                        <span class="icon ti-music-alt"></span>
                                        <h4>Music</h4>
                                        <h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                                        </p>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    </p>

                                    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="contact-data">
                                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum?</p>
                                        <ul>
                                            <li><span class="ti-mobile icon"></span>+ 49 123 456 789</li>
                                            <li><span class="ti-email icon"></span>mail@examle.com</li>
                                            <li><span class="ti-skype icon"></span>@creativa</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / SERVICE MODAL -->
            </div>
        </div>
    </section>

    <section id="pricing" class="pricing section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pricing-introduction">
                    <h2 class="text-center">Our prices</h2>
                    <p class="text-center inverse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>

                <div class="col-md-4 wow fadeInLeft">
                    <div class="pricing-box shadow text-center">
                        <span class="icon ti-announcement"></span>
                        <h3>plan basic</h3>
                        <span class="pricing-box-price">
                        $99
                        <span class="pricing-box-price-small">per month</span>
                        </span>
                        <ul>
                            <li>Personal use</li>
                            <li>Unlimited projects</li>
                            <li>24/7 support</li>
                            <li>3 email address</li>
                            <li>free hosting</li>
                        </ul>
                        <a href="#" class="btn btn-margin btn-default">select <span class="ti-arrow-right"></span></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-box pricing-box-featured shadow text-center wow fadeInUp">
                        <span class="icon ti-announcement"></span>
                        <h3>plan standard</h3>
                        <span class="pricing-box-price">
                        $119
                        <span class="pricing-box-price-small">per month</span>
                        </span>
                        <ul>
                            <li>Personal use</li>
                            <li>Unlimited projects</li>
                            <li>24/7 support</li>
                            <li>3 email address</li>
                            <li>free hosting</li>
                        </ul>
                        <a href="#" class="btn btn-margin btn-default">select <span class="ti-arrow-right"></span></a>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight">
                    <div class="pricing-box shadow text-center">
                        <span class="icon ti-announcement"></span>
                        <h3>plan premium</h3>
                        <span class="pricing-box-price">
                        $199
                        <span class="pricing-box-price-small">per month</span>
                        </span>
                        <ul>
                            <li>Personal use</li>
                            <li>Unlimited projects</li>
                            <li>24/7 support</li>
                            <li>3 email address</li>
                            <li>free hosting</li>
                        </ul>
                        <a href="#" class="btn btn-margin btn-default">select <span class="ti-arrow-right"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}