.team {
	@extend %section-padding;
	background: $main-light-color;

	&-introduction {
		@extend %introduce;

		p {
			color: $main-gray;
		}
	}
	&-member {
		transition: all 300ms ease-in-out;
		background: $main-light-gray;
		display: block;
		padding: $padding-medium 0;
		border-radius: $main-border-radius;
		margin-bottom: $margin-medium;
		float: left;

		&:hover .team-member-photo {
			background: none;
		}

		&-photo {
			display: block;
			transition: all 300ms ease-in-out;
			border-radius: 500px;
			overflow: hidden;
			border: 1px sollid $main-gray;
			width: 80%;
			margin-left: 10%;
			background: $main-light-color;

			&.shadow {
				box-shadow: 0 36px 56px 0 rgba(0, 0, 0, 0.15);
			}
			img {
				width: 100%;
			}
		}
		&-name {
			color: $main-dark-color;
			display: block;
			text-align: center;
			margin: $margin-medium 0;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -17px;
				width: 40px;
				height: 3px;
				background: $main-theme-color;
				left: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&-role {
			color: $main-dark-color;
			display: block;
			text-align: center;
		}
		&:hover {
			.team-member-photo {
				//background: $main-theme-color;
			}
		}
	}
	&-member-detail {
		padding: $padding-medium;
		float: left;
		background: $main-light-color;
		width: 100%;

		h3, .h3 {
			margin-bottom: $margin-medium;
			float: left;
			width: 100%;
		}
		&-meta {
			display: block;
			width: 100%;
			float: left;
		}
		&-author {
			width: 50px;
			height: 50px;
			border-radius: 100px;
			margin-right: $margin-base;

			&-name {
				padding-top: $padding-base;
			}
		}
		&-name, &-time {
			padding-top: $padding-base;

			@include smartphone {
				width: 100%;
				float: left;
			}
		}
		&-category {
			margin-left: $margin-base;
			color: $main-theme-color;
		}
		&-cover {
			width: 100%;
			height: 250px;
			float: left;
			margin: $margin-medium 0;
			background-size: cover;
			border-radius: 3px;
		}
		p {
			font-size: 18px;
			color: $main-gray;
			line-height: 26px;
			display: block;
			float: left;
			width: 100%;
		}
		&-more {
			display: block;
			float: left;
		}
	}
	&-member-description {
		ul {
			float: left;
			margin-bottom: $margin-large;

			li {
				padding-left: 70px;
				position: relative;
				margin-bottom: $margin-medium;
			}
		}
		&-date {
			background: $main-theme-color;
			font-size: 12px;
			color: white;
			position: absolute;
			left: 0;
			top: 3px;
			width: 50px;
		}
		&-title {
			display: block;
			font-size: 16px;
			font-weight: 700;
		}
		&-company {
			display: block;
			font-size: 14px;
			color: $main-theme-color;
		}
		&-details {
			color: #999;
		}
	}
	&-member-skills {
		&-diagram {
			background: #ccc;
			position: relative;
			display: block;
			width: 100%;
			height: 10px;
			margin-bottom: $margin-base;

			span {
				height: 10px;
				display: block;
			}
		}
		&- {
			@mixin width($width) {
            	width: ($width)+('%');
        }

        @for $i from 1 through 100 {
	        &#{$i}
	            {
	                @include width(#{$i});
	                position: relative;
	                background-color: $main-theme-color;
	            }
	        }
		}
	}
	&-member-sidebar {
		font-size: 14px;

		.resume-introduction {
			margin-bottom: 0;
		}

		.ti-star.languages-rating-unactive {
			opacity: 0.3;
		}

		&-photo {
			width: 100%;
			border-radius: 50%;
			max-width: 300px;
			border: 1px solid $main-light-gray;

			@include medium-tablet {
				margin-bottom: $margin-medium;
				margin-top: $margin-medium;
			}
			@include smartphone {
				margin-bottom: $margin-medium;
				margin-top: $margin-medium;
			}
		}
		&-list {
			margin-bottom: $margin-medium;
			float: left;
			width: 100%;

			li {
				padding: $padding-base 0;
				width: 100%;
				position: relative;

				&:before {
					width: 10px;
					height: 3px;
					background: $main-theme-color;
					content: '';
					position: absolute;
					left: 0;
					bottom: -2px;
					z-index: 2;
				}
				&:after {
					height: 1px;
					background: #ccc;
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -2px;
					z-index: 1;
				}
			}
			[class^="ti-"], [class*=" ti-"] {
				margin-right: $margin-base / 2;
			}
			&-label {
				font-weight: 700;
			}
		}
	}
}